<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>maikuzera</title>
</head>
<body>
    <h1>O site foi criado na intencao de arranjar pareceiros sexuais pro gay do mk!</h1>
    <p>interessados chama na dm dele.</p>
    <a href="https://www.instagram.com/_allvesyzz/">Instagram do mk</a>
    <p>fotos do mano:</p>
    
    <img src="{{ url_for('static', filename='maikuzera.jpg') }}" alt="maikuzera" class="maikuzera">

    <img src="{{ url_for('static', filename='maikuzera1.jpg') }}" alt="maikuzera1" class="maikuzera1">

    <img src="{{ url_for('static', filename='maikuzera2.jpg') }}" alt="maikuzera2" class="maikuzera2">
    
    <p>NOTA: ele tem preferencia por travesti mas aceita negoes tbm,ele geralmente gosta d levar!,por ser muito apertado ele so aceita ate 22cm se for mais q isso ele fala q machuca mt!</p>
</body>
</html>